@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body, h1, h2, div{
    margin: 0;
    padding: 0;
}


button, button:hover, button:focus, button:active{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: inherit;
    cursor: pointer;
}

/* reset */

body { 
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%);
    padding: 180px 440px;
    color: white;
    text-align: center;
}

.ir{
    color:transparent;
    background-image: url(./img/weniv-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
}

article{
    background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%);
    box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
    border-radius: 16px;
}

#startButton:disabled, #resetButton:disabled{
    cursor: default;
}

.hide{
    display: none;
}

.timeContainer{
    display: flex;
    justify-content: space-around;
}

.timeBox{
    background-image: url(./img/Rectangle\ 1.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time{
    border: 0;
    background-color: inherit;
    color: white;
    text-align: center;
}